html {
  font-family: roboto, sans-serif;
  font-size: 12px;
}

:root {
  --primary-color: #00acdc;
}

body {
  display: flex;
  margin: 0;
  background-color: gray;
}

.header {
  padding: 0 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  margin: 0;
  text-align: center;
}

.nav {
  display: block;
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-align: center;
}

.nav__item:first-child {
  margin: 0;
  margin-right: 10px;
}

.nav__item:last-child {
  margin: 0;
  margin-left: 10px;
}

.logo {
  display: block;
  text-decoration: none;
  size: 40px;
  height: auto;
}

.containerhover:hover {
  border: 1px solid var(--primary-color);
}

.containerhover:has(:hover) {
  border: none;
}

.logohover:hover {
  border: 1px solid var(--primary-color);
}

.link_hover:hover {
  border-bottom: 1px solid var(--primary-color);
  bottom: 0;
}

.hover:hover {
  color: var(--primary-color);
}

.line-height {
  line-height: 60px;
}

.apple {
  color: var(--primary-color);
}

.nav__line a.is-active {
  position: relative;
  color: var(--primary-color);
}

.nav__line a.is-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  border-radius: 15px;
  left: 0;
}
